body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: left;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #3498db;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}
section {
    margin: 20px auto;
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-in-out;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}


img {
    display: block;
    margin: 20px auto;
    border-radius: 50%; /* Makes the image circular */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
